version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tp3iw
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  php1:
    build:
      context: ./TP-Final-3IW-ESGI-main
      dockerfile: dockerfile
    environment:
      SERVEUR_NAME: "Serveur 1"
    container_name: php1
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network

  php2:
    build:
      context: ./TP-Final-3IW-ESGI-main
      dockerfile: dockerfile
    environment:
      SERVEUR_NAME: "Serveur 2"
    container_name: php2
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network

  nginx1:
    image: nginx:latest
    container_name: nginx1
    ports:
      - "8081:80"
    volumes:
      - ./TP-Final-3IW-ESGI-main:/var/www/html
      - ./nginx1:/etc/nginx/conf.d
    depends_on:
      - php1
    networks:
      - app-network

  nginx2:
    image: nginx:latest
    container_name: nginx2
    ports:
      - "8082:80"
    volumes:
      - ./TP-Final-3IW-ESGI-main:/var/www/html
      - ./nginx2:/etc/nginx/conf.d
    depends_on:
      - php2
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
