
services:
  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tp3iw
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10

  php1:
    build:
      context: ./TP-Final-3IW-ESGI-main
      dockerfile: dockerfile
    environment:
      SERVEUR_NAME: "Serveur 1"
    container_name: php1
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network

  php2:
    build:
      context: ./TP-Final-3IW-ESGI-main
      dockerfile: dockerfile
    environment:
      SERVEUR_NAME: "Serveur 2"
    container_name: php2
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app-network

  nginx1:
    image: nginx:latest
    container_name: nginx1
    ports:
      - "8081:80"
    volumes:
      - ./TP-Final-3IW-ESGI-main:/var/www/html
      - ./nginx1:/etc/nginx/conf.d
    depends_on:
      - php1
    networks:
      - app-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx1.rule=Host(`nginx1.localhost`)"
      - "traefik.http.routers.nginx1.entrypoints=web"

  nginx2:
    image: nginx:latest
    container_name: nginx2
    ports:
      - "8082:80"
    volumes:
      - ./TP-Final-3IW-ESGI-main:/var/www/html
      - ./nginx2:/etc/nginx/conf.d
    depends_on:
      - php2
    networks:
      - app-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx2.rule=Host(`nginx2.localhost`)"
      - "traefik.http.routers.nginx2.entrypoints=web"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    container_name: minio
    environment:
      - MINIO_ROOT_USER=user_minio
      - MINIO_ROOT_PASSWORD=password_minio
    networks:
      - app-network
    volumes:
      - miniodata:/data
    ports:
      - 9000:9000
      - 9001:9001

  traefik:
    image: traefik:v3.4
    container_name: traefik
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data:
  miniodata: